<%-include("header") -%>
<h2 class="about">This is the about page.</h2>
<p class="about">
  This is just a simple project to create a To List application which schedules
  our work for the day.
</p>
<%-include("footer") -%>
